.section4-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: calc(100vh + 200px);
  background: hsl(0, 0%, 100%);
  z-index: 3;
}

.section4-container .section4-left {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  background-color: #ff8e3133;
  height: 100%;
  padding-left: 10%;
}

.section4-container .section4-title h2 {
  font-size: 50px;
  font-weight: 900;
}
.section4-container .section4-title h2 span {
  color: #ff8e31;
}

.section4-container .section4-title p {
  padding: 10px 50px 10px 0;
  font-size: 20px;
}

.section4-container .section4-bottom-link {
  padding: 30px 0;
  margin-top: 50px;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
}

.section4-chips {
  margin: 60px 0;
}

.section4-chipitem {
  display: inline-block;
  background-color: #ffffff;
  text-decoration: none;
  color: #000000;
  border: 1px solid #f1f3f6;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  margin-right: 20px;
}

.section4-container .section4-right {
  align-items: flex-end;
  /* display: flex; */
  /* right: 0px; */
  height: 100%;
  flex: 1;
  position: relative;
}
